// views/index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title File Sharing App
    link(rel="stylesheet", href="/styles.css")
  body
    h1 File Sharing App

    form(action="/upload", method="post", enctype="multipart/form-data")
      input(type="file", name="file", required)
      button(type="submit") Upload

    h2 Available Files:
    ul
      each file in files
        li
          a(href="/uploads/#{file}", target="_blank") #{file}
          a(href="/download/#{file}") Download
